<a href="https://colab.research.google.com/github/sachin2003226/Python-for-Data-Science/blob/main/2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Pandas

In [1]:
import pandas as pd

In [2]:
import pandas as pd
# 1. Using list of dictionary
lst = [{"C1": 1, "C2": 2},
        {"C1": 5, "C2": 10, "C3": 20}]
# Observe NaN
print(pd.DataFrame(lst, index = ["R1", "R2"]))
#     C1  C2    C3
# R1   1   2   NaN
# R2   5  10  20.0
# 2. Using dictionary
dc = {"C1": ["1", "3"],
        "C2": ["2","4"]}
print( pd.DataFrame(dc, index = ["R1", "R2"]) )
#    C1 C2
# R1  1  2
# R2  3  4
# 3. Using list
lst = [[52,32],[45,85]]
print(pd.DataFrame(lst, index = list('pq'), columns = list('ab')))
#     a   b
# p  52  32
# q  45  85

    C1  C2    C3
R1   1   2   NaN
R2   5  10  20.0
   C1 C2
R1  1  2
R2  3  4
    a   b
p  52  32
q  45  85

In [3]:
df = pd.DataFrame({'A': [10., 20.],
                    'B': "text",
                    'C': [2,60],
                    'D': 3+9j})
print(df)
#       A     B   C       D
# 0  10.0  text   2  (3+9j)
# 1  20.0  text  60  (3+9j)
print(df.dtypes)
# A       float64
# B        object
# C         int64
# D    complex128
# dtype: object

      A     B   C         D
0  10.0  text   2  3.0+9.0j
1  20.0  text  60  3.0+9.0j
A       float64
B        object
C         int64
D    complex128
dtype: object

In [4]:
print(df.info())
# < class 'pandas.core.frame.DataFrame' >
# RangeIndex: 2 entries, 0 to 1
# Data columns (total 4 columns):
# A    2 non-null float64
# B    2 non-null object
# C    2 non-null int64
# D    2 non-null complex128
# dtypes: complex128(1), float64(1), int64(1), object(1)
# memory usage: 160.0+ bytes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      float64
 1   B       2 non-null      object
 2   C       2 non-null      int64
 3   D       2 non-null      complex128
dtypes: complex128(1), float64(1), int64(1), object(1)
memory usage: 212.0+ bytes
None

In [5]:
print((df.index))   #index of rows
# RangeIndex(start=0, stop=2, step=1)
print(df.columns)   # index of columns
# Index(['A', 'B', 'C', 'D'], dtype='object')
print(df.values)    # display values of df
# [[10.0 'text' 2 (3+9j)]
#  [20.0 'text' 60 (3+9j)]]

RangeIndex(start=0, stop=2, step=1)
Index(['A', 'B', 'C', 'D'], dtype='object')
[[10.0 'text' 2 (3+9j)]
 [20.0 'text' 60 (3+9j)]]

Exercise
Problem Statement:
Given below is a DataFrame df:

import pandas as pd
df = pd.DataFrame([[0.23,'f1'],[5.36,'f2']],
                  index = list('pq'),
                    columns = list('ab'))
              
Do the following:

Change the column name from ' a' to ' A'.

Add a new column ' c' filled with random values.

Change the datatype of column ' A' values to complex.

Display rows whose any of the element matches with any element of the given list:

lst = ['f30','f50','f2','f0']

In [6]:
import pandas as pd
import numpy as np

# Step 1: Create the DataFrame
df = pd.DataFrame([[0.23, 'f1'], [5.36, 'f2']],
                  index=list('pq'),
                  columns=list('ab'))

# Step 2: Rename column 'a' to 'A'
df.rename(columns={'a': 'A'}, inplace=True)

# Step 3: Add new column 'c' filled with random values
df['c'] = np.random.rand(len(df))

# Step 4: Change datatype of column 'A' to complex
df['A'] = df['A'].astype(complex)

# Step 5: Display rows matching any element from the list
lst = ['f30', 'f50', 'f2', 'f0']
filtered_df = df[df.isin(lst).any(axis=1)]

# Output results
print("Modified DataFrame:\n", df)
print("\nFiltered Rows:\n", filtered_df)

Modified DataFrame:
             A   b         c
p  0.23+0.00j  f1  0.231551
q  5.36+0.00j  f2  0.399917

Filtered Rows:
             A   b         c
q  5.36+0.00j  f2  0.399917

In [7]:
import pandas as pd

df = pd.DataFrame([[54.2,'a'],[658,'d']],
                  index = list('pq'))
df.columns = df.index
print(df.columns.values)

['p' 'q']

In [8]:
import pandas as pd
df = pd.DataFrame([[11, 202],
                    [33, 44]],
                    index = list('AB'),
                    columns = list('CD'))
''' Writing to excel file '''
df.to_excel('test_file.xlsx', sheet_name = 'Sheet1')
''' Reading from excel file '''
print(pd.read_excel('test_file.xlsx', 'Sheet1'))

  Unnamed: 0   C    D
0          A  11  202
1          B  33   44

In [9]:
import numpy as np
import pandas as pd
df = pd.read_table('chat.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'chat.txt'

In [10]:
import pandas as pd
import numpy as np

# Step 1: Create the DataFrame
df = pd.DataFrame([[18,10,5,11,-2],
                   [2,-2,9,-11,3],
                   [-4,6,-19,2,1],
                   [3,-14,1,-2,8],
                   [-2,2,4,6,13]],
                 index=list('pqrst'),
                 columns=list('abcde'))

# Step 2: Extract rows whose sum is even
new_df = df[df.apply(lambda row: row.sum() % 2 == 0, axis=1)]

# Step 3: Save new_df to Excel (Sheet 1)
with pd.ExcelWriter("file_df.xlsx") as writer:
    new_df.to_excel(writer, sheet_name='Sheet1')

    # Step 4: Copy to df_temp and add new column 'm' = product of each row
    df_temp = new_df.copy()
    df_temp['m'] = df_temp.eval('a * b * c * d * e', engine='python')  # safer with eval here

    # Step 5: Save df_temp to Excel (Sheet 2)
    df_temp.to_excel(writer, sheet_name='Sheet2')

In [12]:
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]],
                    index = list('ABC'),
                    columns = list('DE'))
print(df)
#     D   E
# A  15  12
# B  33  54
# C  10  32
print(df.loc[['A','C'],:])
#     D   E
# A  15  12
# C  10  32
print(df.loc[:,'E'])
# A    12
# B    54
# C    32
# Name: E, dtype: int64
print(df.loc['B', 'D'])
# 33

    D   E
A  15  12
B  33  54
C  10  32
    D   E
A  15  12
C  10  32
A    12
B    54
C    32
Name: E, dtype: int64
33

In [13]:
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]])
print(df)
#     0   1
# 0  15  12
# 1  33  54
# 2  10  32
print(df.iloc[0:2,:])
#     0   1
# 0  15  12
# 1  33  54
print(df.iloc[:,0:1])
#     0
# 0  15
# 1  33
# 2  10
print(df.iloc[:,:])
#     0   1
# 0  15  12
# 1  33  54
# 2  10  32

    0   1
0  15  12
1  33  54
2  10  32
    0   1
0  15  12
1  33  54
    0
0  15
1  33
2  10
    0   1
0  15  12
1  33  54
2  10  32

In [14]:
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]],
                    index = ['one','two','three'],
                    columns = ['col1', 'col2'])
print(df)
#        col1  col2
# one      15    12
# two      33    54
# three    10    32
print(df.filter(regex = 'e$', axis = 0))      # row name ending with 'e'
#        col1  col2
# one      15    12
# three    10    32
print(df.filter(regex = '^c', axis = 1))      # column name starting with 'c'
#        col1  col2
# one      15    12
# two      33    54
# three    10    32

       col1  col2
one      15    12
two      33    54
three    10    32
       col1  col2
one      15    12
three    10    32
       col1  col2
one      15    12
two      33    54
three    10    32

In [15]:
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]])
print(df[df >= 15])
#       0     1
# 0  15.0   NaN
# 1  33.0  54.0
# 2   NaN  32.0

      0     1
0  15.0   NaN
1  33.0  54.0
2   NaN  32.0

In [19]:
ts = df.iloc[:, 0].copy()
ts = ts.reset_index(drop=True)
ts.columns = ['Timestamp']

Exercise
Problem Statement:
Consider Pittsburgh bridge dataset which consists of 108 instances and 13 attributes. Perform the listed tasks:

Copy and save dataset to your local drive with name bridge.xlsx. Since all the data is combined into 1 column, therefore, write a python code using pandas to separate this data into distinct columns.

Provide header to the dataframe with given values -

['IDENTIF','RIVER', 'LOCATION', 'ERECTED', 'PURPOSE', 'LENGTH', 'LANES',
  'CLEAR-G', 'T-OR-D', 'MATERIAL', 'SPAN', 'REL-L', 'TYPE']
                  
List names of the column(s) along with the count of missing number of values. Here, missing values are coded with '?'.

Find the column(s) names ending with either of the following 'N', 'H', 'S'. If the number of recorded data in these columns are less than 100, drop them.

Drop all the row(s) which have more than or equal to 2 missing values. What is the shape of the final DataFrame?

Fill all the remaining missing values with the mode of each column values.



Hints/Answers
1. Hint: Use string split() function.

3. Answer:



4. Answer: Columns to be dropped: LENGTH, LANES, SPAN. Hint: Use regex

5. Answer: (106, 10). Hint: Workout on dropna-threshold argument

![image.png]()

In [29]:
import pandas as pd

# Load the dataset (assuming the file is already saved as 'bridge.csv')
df = pd.read_csv('/content/data1.csv', header=None)

# Split the data in the single column into multiple columns based on space
df = df[0].str.split(' ', expand=True)

# Print the shape of the DataFrame after split to verify the number of columns
print(f"Shape after split: {df.shape}")

# If the split results in 13 columns, assign the provided column names
if df.shape[1] == 13:
    df.columns = ['IDENTIF', 'RIVER', 'LOCATION', 'ERECTED', 'PURPOSE', 'LENGTH', 'LANES',
                  'CLEAR-G', 'T-OR-D', 'MATERIAL', 'SPAN', 'REL-L', 'TYPE']
else:
    print("The number of columns after split does not match 13. Please inspect the data.")
    # Inspect first few rows of the data to understand the issue
    print(df.head())

# Ensure column names are strings before using str accessor
df.columns = df.columns.astype(str)

# Task 3: Find missing values and count them
missing_values = df.apply(lambda x: x[x == '?'].count())
print(f"Missing Values Count:\n{missing_values}")

# Task 4: Drop columns where the column name ends with 'N', 'H', or 'S' and has less than 100 non-null values
# Use regex to match columns ending with 'N', 'H', or 'S'
columns_to_drop = df.columns[df.columns.str.endswith(('N', 'H', 'S'))]
for col in columns_to_drop:
    if df[col].notnull().sum() < 100:
        df.drop(col, axis=1, inplace=True)

print(f"Columns to be dropped: {columns_to_drop}")

# Task 5: Drop rows with 2 or more missing values
df = df.dropna(thresh=len(df.columns) - 2)  # Keep rows with at least len(df.columns) - 2 non-null values

print(f"Shape of DataFrame after dropping rows with >= 2 missing values: {df.shape}")

# Task 6: Fill remaining missing values with the mode of each column
df = df.apply(lambda x: x.replace('?', x.mode()[0]) if x.dtype == 'object' else x)

# Finally, check the resulting DataFrame
print(f"DataFrame after filling missing values with mode:\n{df}")

Shape after split: (108, 1)
The number of columns after split does not match 13. Please inspect the data.
    0
0  E1
1  E2
2  E3
3  E5
4  E6
Missing Values Count:
0    0
dtype: int64
Columns to be dropped: Index([], dtype='object')
Shape of DataFrame after dropping rows with >= 2 missing values: (108, 1)
DataFrame after filling missing values with mode:
        0
0      E1
1      E2
2      E3
3      E5
4      E6
..    ...
103   E84
104   E91
105   E90
106  E100
107  E109

[108 rows x 1 columns]

In [31]:
import pandas as pd

df = pd.DataFrame([[2,5],
                   [56,20]],
                   index = list('pq'),
                    columns = list('ab'))

def loc(a,b):
    try:
        out = df.loc[a,b]
    except:
        return 0
    return out

def iloc(a,b):
    try:
        out = df.iloc[a,b]
    except:
        return 0
    return out

print( iloc(0,'b') )
print( loc(0,'b') )
print( loc('q','a') )
print( iloc('q','b') )

0
0
56
0

In [32]:
import pandas as pd
df = pd.DataFrame({'A' : [1,-4,7],
                   'B' : [-2,5,-8],
                   'C' : [-3,-6,9]},
                   index = list('STU'))
print(df.apply(np.sum, axis = 0).sum())

-1

In [33]:
import pandas as pd
df1 = pd.DataFrame({'A': [1,4,7],
                    'B': [2,5,8],
                    'C': [3,6,9]},
                    index = list ('PQR'))
df2 = pd.DataFrame({'A': [1,-4,-7],
                    'B': [-2,5,-8],
                    'C': [-3,-6,9]},
                    index = list ('STU'))
print(df1.sub(df2).count().sum())

0

In [36]:
import pandas as pd
df = pd.DataFrame([[15,12],
                   [33,54],
                   [10,32]],
                   columns = list('AB'))
print(df.eval('B-A').median())

21.0

In [39]:
import pandas as pd
data1 = pd.DataFrame([[15, 12, -3],
                    [33, 54, 21],
                    [10, 32, 22]],
                    columns = list('ABC'))
data2 = pd.DataFrame([[10, 1, 3],
                    [33, -54, 2],
                    [10, 0.32, 2]],
                    columns = list('DEF'))
print(data1)
#     A   B   C
# 0  15  12  -3
# 1  33  54  21
# 2  10  32  22
print(data2)
#     D      E  F
# 0  10   1.00  3
# 1  33 -54.00  2
# 2  10   0.32  2
print(pd.concat( [data1,data2], axis = 1 ))
#     A   B   C   D      E  F
# 0  15  12  -3  10   1.00  3
# 1  33  54  21  33 -54.00  2
# 2  10  32  22  10   0.32  2

    A   B   C
0  15  12  -3
1  33  54  21
2  10  32  22
    D      E  F
0  10   1.00  3
1  33 -54.00  2
2  10   0.32  2
    A   B   C   D      E  F
0  15  12  -3  10   1.00  3
1  33  54  21  33 -54.00  2
2  10  32  22  10   0.32  2

In [40]:
import numpy as np
import pandas as pd
data1 = pd.DataFrame(np.random.randn(9).reshape(3,3),
                   columns = list('ABC'))
data2 = pd.DataFrame(np.arange(9).reshape(3,3),
                   columns = list('ABC'))
print(data1)     # Random values
#           A         B         C
# 0  1.957218  0.433266  1.214950
# 1 -0.143500 -0.092030 -0.823898
# 2  0.481486 -0.024111 -0.769195
print(data2)
#    A  B  C
# 0  0  1  2
# 1  3  4  5
# 2  6  7  8
print(pd.concat( [data1,data2], axis = 0 ))
#           A         B         C
# 0  1.957218  0.433266  1.214950
# 1 -0.143500 -0.092030 -0.823898
# 2  0.481486 -0.024111 -0.769195
# 0  0.000000  1.000000  2.000000
# 1  3.000000  4.000000  5.000000
# 2  6.000000  7.000000  8.000000

          A         B         C
0 -0.544596  0.370505 -2.348478
1 -1.412680  0.402810 -0.352426
2 -1.437258  1.502058  1.747748
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8
          A         B         C
0 -0.544596  0.370505 -2.348478
1 -1.412680  0.402810 -0.352426
2 -1.437258  1.502058  1.747748
0  0.000000  1.000000  2.000000
1  3.000000  4.000000  5.000000
2  6.000000  7.000000  8.000000

In [41]:
import numpy as np
import pandas as pd
multi_ind = pd.MultiIndex.from_tuples(
                                      [('IND','Game1'),
                                       ('IND','Game2'),
                                       ('US','Game1'),
                                       ('US','Game2')],
                                       names = [
                                                'Country',
                                                'Game'])
df = pd.DataFrame(np.random.randn(4,2),     # some random values
                  index = multi_ind,
                  columns = ['Year1', 'Year2'])
print(df)
#                   Year1     Year2
# Country Game
# IND     Game1 -2.263939 -0.793986
#         Game2 -0.390861  0.728531
# US      Game1 -0.944708  0.352151
#         Game2 -0.232056  0.452532

                  Year1     Year2
Country Game
IND     Game1 -0.393451  0.376638
        Game2  0.503812  1.355158
US      Game1  1.251177  0.524167
        Game2 -0.169796 -1.782859

In [42]:
''' Increase in length '''
print(df.stack())
# Country  Game
# IND      Game1  Year1   -2.263939
#                 Year2   -0.793986
#          Game2  Year1   -0.390861
#                 Year2    0.728531
# US       Game1  Year1   -0.944708
#                 Year2    0.352151
#          Game2  Year1   -0.232056
#                 Year2    0.452532
# dtype: float64
''' Increase in width '''
print(df.unstack())
#             Year1               Year2
# Game        Game1     Game2     Game1     Game2
# Country
# IND     -2.263939 -0.390861 -0.793986  0.728531
# US      -0.944708 -0.232056  0.352151  0.452532

Country  Game
IND      Game1  Year1   -0.393451
                Year2    0.376638
         Game2  Year1    0.503812
                Year2    1.355158
US       Game1  Year1    1.251177
                Year2    0.524167
         Game2  Year1   -0.169796
                Year2   -1.782859
dtype: float64
            Year1               Year2
Game        Game1     Game2     Game1     Game2
Country
IND     -0.393451  0.503812  0.376638  1.355158
US       1.251177 -0.169796  0.524167 -1.782859

In [43]:
import pandas as pd
df = pd.DataFrame([
            ['IND', 'Gold', 'Game1', '9.9'],
            ['IND', 'Bronze', 'Game2', '8'],
            ['USA', 'Silver', 'Game1', '9.5'],
            ['USA', 'Gold', 'Game2', '8.6'],
            ], columns = ['Country', 'Medal',
                'Game', 'Score'],
                index = ['Year1', 'Year2','Year1', 'Year2'])

print(df)
#       Country   Medal   Game Score
# Year1     IND    Gold  Game1   9.9
# Year2     IND  Bronze  Game2     8
# Year1     USA  Silver  Game1   9.5
# Year2     USA    Gold  Game2   8.6

      Country   Medal   Game Score
Year1     IND    Gold  Game1   9.9
Year2     IND  Bronze  Game2     8
Year1     USA  Silver  Game1   9.5
Year2     USA    Gold  Game2   8.6

In [44]:
# Listing all the features
print(df.pivot(index = 'Country', columns = 'Medal'))
#           Game                Score
# Medal   Bronze   Gold Silver Bronze Gold Silver
# Country
# IND      Game2  Game1   None      8  9.9   None
# USA       None  Game2  Game1   None  8.6    9.5
# Listing only Score feature
print(df.pivot(index = 'Country', columns = 'Medal',
               values = 'Score'))
# Medal   Bronze Gold Silver
# Country
# IND          8  9.9   None
# USA       None  8.6    9.5

          Game                Score
Medal   Bronze   Gold Silver Bronze Gold Silver
Country
IND      Game2  Game1    NaN      8  9.9    NaN
USA        NaN  Game2  Game1    NaN  8.6    9.5
Medal   Bronze Gold Silver
Country
IND          8  9.9    NaN
USA        NaN  8.6    9.5

In [45]:
import numpy as np
import pandas as pd
df = pd.DataFrame([
            ['IND', 'Gold', 'Game1', '9.9'],
            ['IND', 'Silver', 'Game1', '9.5'],
            ['IND', 'Bronze', 'Game2', '8'],
            ['USA', 'Bronze', 'Game1', '9.0'],
            ['USA', 'Silver', 'Game2', '8.6'],
            ], columns = ['Country', 'Medal',
                'Game', 'Score'],
                index = ['Year1', 'Year1', 'Year2','Year1', 'Year2'])

print(df)
#       Country   Medal   Game Score
# Year1     IND    Gold  Game1   9.9
# Year1     IND  Silver  Game1   9.5
# Year2     IND  Bronze  Game2     8
# Year1     USA  Bronze  Game1   9.0
# Year2     USA  Silver  Game2   8.6
print(df.pivot_table(index = 'Country',
                     columns = 'Game',
                     values = 'Score',
                     aggfunc = np.max))
# Game    Game1 Game2
# Country
# IND       9.9     8
# USA       9.0   8.6

      Country   Medal   Game Score
Year1     IND    Gold  Game1   9.9
Year1     IND  Silver  Game1   9.5
Year2     IND  Bronze  Game2     8
Year1     USA  Bronze  Game1   9.0
Year2     USA  Silver  Game2   8.6
Game    Game1 Game2
Country
IND       9.9     8
USA       9.0   8.6

<ipython-input-45-c1f2d2b0ce7e>:20: FutureWarning: The provided callable <function max at 0x7d2a46a0ca40> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print(df.pivot_table(index = 'Country',

In [47]:
import pandas as pd
df = pd.DataFrame([["Laptop", 1000],
                   ["Laptop", 2520],
                   ["Desktop", 3000],
                   ["Desktop", 400]], columns = ['Category','Sales'])
print(df)

print(df.groupby(['Category'], sort = False).sum())

  Category  Sales
0   Laptop   1000
1   Laptop   2520
2  Desktop   3000
3  Desktop    400
          Sales
Category
Laptop     3520
Desktop    3400

Problem Statement:
Given a dataframe df which has three attributes defining: set_name: system names, spd_per_day: Speed per day, speed: Network speed in MBps

sys = ['s1','s1','s1','s1',
        's2','s2','s2','s2']
net_day = ['d1','d1','d2','d2',
        'd1','d1','d2','d2']
spd = [1.3, 11.4, 5.6, 12.3,
        6.2, 1.1, 20.0, 8.8]
df = pd.DataFrame({'set_name':sys,
                    'spd_per_day':net_day,
                    'speed':spd})
              
Do the following:

Construct a dataframe new_df where the given dataset is grouped based on each system (s1 and s2) and speed per day (d1 and d2) with the median speed each day per system. Also, provide a secondary name ' Median' for the speed attribute.

Sort the dataframe new_df in the ascending order of the median speed.

Hints/Answers:
1. Answer:

set_name spd_per_day  speed
                       Median
0       s1          d1   6.35
1       s1          d2   8.95
2       s2          d1   3.65
3       s2          d2  14.40

2. Answer:

set_name spd_per_day  speed
                       Median
2       s2          d1   3.65
0       s1          d1   6.35
1       s1          d2   8.95
3       s2          d2  14.40

Hint: Use sort_values()

In [48]:
import pandas as pd

# Given data
sys = ['s1', 's1', 's1', 's1', 's2', 's2', 's2', 's2']
net_day = ['d1', 'd1', 'd2', 'd2', 'd1', 'd1', 'd2', 'd2']
spd = [1.3, 11.4, 5.6, 12.3, 6.2, 1.1, 20.0, 8.8]

# Create the dataframe
df = pd.DataFrame({'set_name': sys, 'spd_per_day': net_day, 'speed': spd})

# Group by set_name and spd_per_day and calculate the median speed
new_df = df.groupby(['set_name', 'spd_per_day'])['speed'].median().reset_index()

# Rename the 'speed' column to 'Median'
new_df.rename(columns={'speed': 'Median'}, inplace=True)

# Sort the dataframe by the 'Median' column in ascending order
new_df_sorted = new_df.sort_values(by='Median', ascending=True)

# Print the result
print(new_df_sorted)

  set_name spd_per_day  Median
2       s2          d1    3.65
0       s1          d1    6.35
1       s1          d2    8.95
3       s2          d2   14.40